body
{
	margin: 0;
	height: 100%;
	font-family:"华康少女";
	font-size: 14px;
	background: transparent;
	background-image: url(../img/background.gif);
	background-size: 100%;
}

a
{
	text-decoration: none;
	text-align:center;
	color: black;
}


.container
{
	height:500px;
}
